.list_image {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.list_image li {
    flex: 1 1 calc(20% - 20px);
    max-width: calc(20% - 20px);
    text-align: center;
    border: 1px solid darkcyan;
    transition: background-color 0.5s ease, border-radius 0.5s ease;
}

.list_image li:hover {
    background-color: cadetblue;
    border-radius: 8px;
}

.text {
    font-family: monospace;
    font-size: 16px;
}